body {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 210px;
    margin: 15px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product p {    
    width: 100px;
    margin: 15px;
}